Загрузка библиотек

In [39]:
import pandas as pd

## Загрузка данных

Загрузка данных 'ferma_main.csv'

In [40]:
try:
    ferma_main=pd.read_csv('/datasets/ferma_main.csv', delimiter=';')
except FileNotFoundError:
    ferma_main=pd.read_csv('ferma_main.csv', delimiter=';')

Загрузка данных 'ferma_dad.csv'

In [41]:
try:
    ferma_dad=pd.read_csv('/datasets/ferma_dad.csv', delimiter=';')
except FileNotFoundError:
    ferma_dad=pd.read_csv('ferma_dad.csv', delimiter=';')

Загрузка данных 'cow_buy.csv'

In [42]:
try:
    cow_buy=pd.read_csv('/datasets/cow_buy.csv', delimiter=';')
except FileNotFoundError:
    cow_buy=pd.read_csv('cow_buy.csv', delimiter=';')

##  Предобработка данных

Просмотр информации о данных ferma_main

In [43]:
ferma_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     634 non-null    int64
 1   Удой, кг                               634 non-null    int64
 2   ЭКЕ (Энергетическая кормовая единица)  634 non-null    object
 3   Сырой протеин, г                       634 non-null    int64
 4   СПО (Сахаро-протеиновое соотношение)   634 non-null    object
 5   Порода                                 634 non-null    object
 6   Тип пастбища                           634 non-null    object
 7   порода папы_быка                       634 non-null    object
 8   Жирность,%                             634 non-null    object
 9   Белок,%                                634 non-null    object
 10  Вкус молока                            634 non-null    object
 11  Возраст                                634 non-null    object
dtypes: int64(3), object(9)
memory usage: 59.6+ KB

Просмотр первых пяти строк в ferma_main

In [44]:
ferma_main.head()

,id,"Удой, кг",ЭКЕ (Энергетическая кормовая единица),"Сырой протеин, г",СПО (Сахаро-протеиновое соотношение),Порода,Тип пастбища,порода папы_быка,"Жирность,%","Белок,%",Вкус молока,Возраст
0,1,5863,"14,2",1743,"0,89",Вис Бик Айдиал,Равнинное,Айдиал,"3,58","3,076",вкусно,более_2_лет
1,2,5529,"12,8",2138,"0,89",Вис Бик Айдиал,Равнинные,Соверин,"3,54","3,079",вкусно,менее_2_лет
2,3,5810,14,1854,"0,885",РефлешнСоверинг,Холмистое,Соверин,"3,59","3,074",не вкусно,более_2_лет
3,4,5895,"12,4",2012,"0,885",РефлешнСоверинг,Холмистое,Айдиал,"3,4","3,075",не вкусно,более_2_лет
4,5,5302,"12,8",1675,"0,885",Вис Бик Айдиал,Равнинные,Соверин,"3,73","3,073",вкусно,менее_2_лет

По данным можно сразу сказать, что столбик id лишний, явных пропусков нет, тип обьектов нужно поменять

Просмотр последних пяти строк в ferma_main

In [45]:
ferma_main.tail()

,id,"Удой, кг",ЭКЕ (Энергетическая кормовая единица),"Сырой протеин, г",СПО (Сахаро-протеиновое соотношение),Порода,Тип пастбища,порода папы_быка,"Жирность,%","Белок,%",Вкус молока,Возраст
629,627,5970,"14,4",1837,"0,88",РефлешнСоверинг,Холмистое,Соверин,"3,64","3,075",не вкусно,более_2_лет
630,627,5970,"14,4",1837,"0,88",РефлешнСоверинг,Холмистое,Соверин,"3,64","3,075",не вкусно,более_2_лет
631,627,5970,"14,4",1837,"0,88",РефлешнСоверинг,Холмистое,Соверин,"3,64","3,075",не вкусно,более_2_лет
632,627,5970,"14,4",1837,"0,88",РефлешнСоверинг,Холмистое,Соверин,"3,64","3,075",не вкусно,более_2_лет
633,627,5970,"14,4",1837,"0,88",РефлешнСоверинг,Холмистое,Соверин,"3,64","3,075",не вкусно,более_2_лет

Удаление столбца 'id' из данных

In [46]:
ferma_main.drop(columns=['id'], inplace=True)

Просмотр информации о данных ferma_dad

In [47]:
ferma_dad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        629 non-null    int64
 1   Имя Папы  629 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.0+ KB

По данным можно сразу сказать, строк меньше чем в предыдущем датафрейме, явных пропусков нет, столбик id нужно удалить

Просмотр первых пяти строк в ferma_dad

In [48]:
ferma_dad.head()

   id  Имя Папы
0   1    Буйный
1   2  Соловчик
2   3     Барин
3   4    Буйный
4   5     Барин

Просмотр последних пяти строк в ferma_dad

In [49]:
ferma_dad.tail()

      id  Имя Папы
624  625    Буйный
625  626     Барин
626  627     Барин
627  628     Барин
628  629  Соловчик

Удаление столбика 'id'

In [50]:
ferma_dad.drop(columns=['id'], inplace=True)

Проверка

In [51]:
ferma_dad.head()

   Имя Папы
0    Буйный
1  Соловчик
2     Барин
3    Буйный
4     Барин

Просмотр информации о данных cow_buy

In [52]:
cow_buy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Порода                   20 non-null     object
 1   Тип пастбища             20 non-null     object
 2   порода папы_быка         20 non-null     object
 3   Имя_папы                 20 non-null     object
 4   Текущая_жирность,%       20 non-null     object
 5   Текущий_уровень_белок,%  20 non-null     object
 6   Возраст                  20 non-null     object
dtypes: object(7)
memory usage: 1.2+ KB

По данным можно сразу сказать, что строк гораздо меньше чем в предыдущих данных, тип обьектов нужно поменять

Вывод всех строк cow_buy

In [53]:
cow_buy

,Порода,Тип пастбища,порода папы_быка,Имя_папы,"Текущая_жирность,%","Текущий_уровень_белок,%",Возраст
0,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,58","3,076",более_2_лет
1,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,54","3,081",менее_2_лет
2,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
3,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,061",более_2_лет
4,РефлешнСоверинг,равнинное,Айдиал,Буйный,"3,64","3,074",более_2_лет
5,РефлешнСоверинг,равнинное,Соверин,Геркулес,"3,63","3,053",менее_2_лет
6,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,58","3,076",более_2_лет
7,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,57","3,079",более_2_лет
8,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
9,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,079",менее_2_лет
10,Вис Бик Айдиал,холмистое,Соверин,Соловчик,"3,73","3,055",более_2_лет
11,РефлешнСоверинг,равнинное,Соверин,Геркулес,"3,73","3,073",более_2_лет
12,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,68","3,046",более_2_лет
13,Вис Бик Айдиал,холмистое,Соверин,Барин,"3,42","3,075",менее_2_лет
14,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
15,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,065",более_2_лет
16,Вис Бик Айдиал,холмистое,Соверин,Соловчик,"3,73","3,079",более_2_лет
17,РефлешнСоверинг,равнинное,Соверин,Геркулес,"3,77","3,053",менее_2_лет
18,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,34","3,069",более_2_лет
19,РефлешнСоверинг,равнинное,Айдиал,Буйный,"3,64","3,074",более_2_лет

Для дальнейшего редактирования данных выведем 10 первых строк данных

In [55]:
ferma_main.head(10)

,"Удой, кг",ЭКЕ (Энергетическая кормовая единица),"Сырой протеин, г",СПО (Сахаро-протеиновое соотношение),Порода,Тип пастбища,порода папы_быка,"Жирность,%","Белок,%",Вкус молока,Возраст
0,5863,"14,2",1743,"0,89",Вис Бик Айдиал,Равнинное,Айдиал,"3,58","3,076",вкусно,более_2_лет
1,5529,"12,8",2138,"0,89",Вис Бик Айдиал,Равнинные,Соверин,"3,54","3,079",вкусно,менее_2_лет
2,5810,14,1854,"0,885",РефлешнСоверинг,Холмистое,Соверин,"3,59","3,074",не вкусно,более_2_лет
3,5895,"12,4",2012,"0,885",РефлешнСоверинг,Холмистое,Айдиал,"3,4","3,075",не вкусно,более_2_лет
4,5302,"12,8",1675,"0,885",Вис Бик Айдиал,Равнинные,Соверин,"3,73","3,073",вкусно,менее_2_лет
5,5254,"12,7",1806,"0,885",РефлешнСоверинг,Холмистое,Соверин,"3,13","3,078",вкусно,менее_2_лет
6,5910,"13,2",1792,"0,885",Вис Бик Айдиал,Равнинные,Соверин,"3,48","3,077",вкусно,более_2_лет
7,6179,"14,7",1806,"0,93",Вис Бик Айдиал,Равнинные,Айдиал,"3,55","3,076",вкусно,более_2_лет
8,6783,"14,2",1918,"0,94",РефлешнСоверинг,Холмистое,Айдиал,"3,71","3,077",вкусно,более_2_лет
9,5339,"13,4",1791,"0,895",Вис Бик Айдиал,Холмистое,Соверин,"3,13","3,075",вкусно,менее_2_лет

Просмотр уникальных значений столбца 'ЭКЕ (Энергетическая кормовая единица)'

In [56]:
ferma_main['ЭКЕ (Энергетическая кормовая единица)'].unique()

array(['14,2', '12,8', '14', '12,4', '12,7', '13,2', '14,7', '13,4',
       '13,7', '16,5', '15,4', '14,5', '16', '15,6', '11,5', '15,7',
       '14,3', '15,5', '14,6', '15,9', '15,2', '14,8', '16,4', '11,8',
       '14,4', '16,1', '12,9', '13,8', '13,3', '16,3', '13,9', '14,1',
       '16,7', '15,8', '16,2', '12,2', '14,9', '13,6', '12,5', '16,8',
       '13,5', '15,1', '12,1', '16,6', '15,3', '13,1', '12,3', '11,9',
       '12,6', '15', '13', '12', '11,1', '11,7', '10,9'], dtype=object)

Замена запятых на точки, для того чтобы изменить тип данных в столбце на 'float'

In [57]:
ferma_main['ЭКЕ (Энергетическая кормовая единица)'] = ferma_main['ЭКЕ (Энергетическая кормовая единица)'].str.replace(',', '.')
ferma_main['ЭКЕ (Энергетическая кормовая единица)']=ferma_main['ЭКЕ (Энергетическая кормовая единица)'].astype(float)

Просмотр уникальных значений столбца 'СПО (Сахаро-протеиновое соотношение)'

In [60]:
ferma_main['СПО (Сахаро-протеиновое соотношение)'].unique()

array(['0,89', '0,885', '0,93', '0,94', '0,895', '0,95', '0,96', '0,85',
       '0,84', '0,86', '0,88', '0,9'], dtype=object)

Замена запятых на точки, для того чтобы изменить тип данных в столбце на 'float'

In [61]:
ferma_main['СПО (Сахаро-протеиновое соотношение)']=ferma_main['СПО (Сахаро-протеиновое соотношение)'].str.replace(',','.')
ferma_main['СПО (Сахаро-протеиновое соотношение)']=ferma_main['СПО (Сахаро-протеиновое соотношение)'].astype(float)

Просмотр уникальных значений столбца 'Жирность,%'

In [63]:
ferma_main['Жирность,%'].unique()

array(['3,58', '3,54', '3,59', '3,4', '3,73', '3,13', '3,48', '3,55',
       '3,71', '3,72', '3,61', '3,22', '3,03', '3,49', '3,31', '3,7',
       '3,74', '3,21', '3,11', '3,25', '3,34', '3,24', '3,53', '3,16',
       '3,26', '3,57', '3,44', '3,38', '3,18', '3,42', '3,62', '3,75',
       '3,41', '3,27', '3,63', '3,12', '3,64', '3,69', '3,37', '3,65',
       '3,33', '3,28', '3,35', '3,32', '3,23', '3,15', '3,01', '2,99',
       '3,39', '3,19'], dtype=object)

Замена запятых на точки, для того чтобы изменить тип данных в столбце на 'float'

In [65]:
ferma_main['Жирность,%']=ferma_main['Жирность,%'].str.replace(',','.')
ferma_main['Жирность,%']=ferma_main['Жирность,%'].astype(float)

Просмотр уникальных значений столбца 'Белок,%'

In [64]:
ferma_main['Белок,%'].unique()

array(['3,076', '3,079', '3,074', '3,075', '3,073', '3,078', '3,077',
       '3,071', '3,08', '3,072', '3,081', '3,082', '3,07', '3,069',
       '3,085'], dtype=object)

Замена запятых на точки, для того чтобы изменить тип данных в столбце на 'float'

In [66]:
ferma_main['Белок,%']=ferma_main['Белок,%'].str.replace(',','.')
ferma_main['Белок,%']=ferma_main['Белок,%'].astype(float)

Просмотр уникальных значений столбца 'Порода'

In [69]:
ferma_main['Порода'].unique()

array(['Вис Бик Айдиал', 'РефлешнСоверинг'], dtype=object)

Просмотр уникальных значений столбца 'Тип пастбища'

In [70]:
ferma_main['Тип пастбища'].unique()

array(['Равнинное', 'Равнинные', 'Холмистое'], dtype=object)

Удаление неявных дубликатов (замена названия 'Равнинные' на 'Равнинное') и вывод результата

In [72]:
ferma_main['Тип пастбища']=ferma_main['Тип пастбища'].str.replace('Равнинные','Равнинное')
ferma_main['Тип пастбища'].unique()

array(['Равнинное', 'Холмистое'], dtype=object)

Просмотр уникальных значений столбца 'порода папы_быка'

In [78]:
ferma_main['порода папы_быка'].unique()

array(['Айдиал', 'Соверин', 'Айдиалл'], dtype=object)

Просмотр количества значений для определения как правильно писать Айдиал или Айдиалл

In [77]:
ferma_main['порода папы_быка'].value_counts()

Соверин    316
Айдиал     240
Айдиалл     78
Name: порода папы_быка, dtype: int64

Удаление неявных дубликатов (замена названия 'Айдиалл' на 'Айдиал') и вывод результата

In [80]:
ferma_main['порода папы_быка']=ferma_main['порода папы_быка'].str.replace('Айдиалл','Айдиал')
ferma_main['порода папы_быка'].unique()

array(['Айдиал', 'Соверин'], dtype=object)

Просмотр уникальных значений столбца 'Вкус молока'

In [81]:
ferma_main['Вкус молока'].unique()

array(['вкусно', 'не вкусно'], dtype=object)

Просмотр уникальных значений столбца 'Возраст'

In [82]:
ferma_main['Возраст'].unique()

array(['более_2_лет', 'менее_2_лет'], dtype=object)

Переименования столбцов

In [85]:
ferma_main.rename(columns={'Удой, кг':'удой_кг', 
                           'ЭКЕ (Энергетическая кормовая единица)':'энергетическая_кормовая_единица', 
                           'Сырой протеин, г':'сырой_протеин_г', 
                           'СПО (Сахаро-протеиновое соотношение)':'сахаро_протеиновое_соотношение', 
                           'Порода':'порода', 
                           'Тип пастбища':'тип_пастбища', 
                           'порода папы_быка':'порода_папы_быка',
                           'Жирность,%':'процент_жирности',
                           'Белок,%':'процент_белка',
                           'Вкус молока':'вкус_молока',
                           'Возраст':'возраст'
                          }, inplace=True)

Вывод результатов проделанных изменений с таблицой 'ferma_main'

In [86]:
ferma_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   удой_кг                          634 non-null    int64
 1   энергетическая_кормовая_единица  634 non-null    float64
 2   сырой_протеин_г                  634 non-null    int64
 3   сахаро_протеиновое_соотношение   634 non-null    float64
 4   порода                           634 non-null    object
 5   тип_пасибища                     634 non-null    object
 6   порода_папы_быка                 634 non-null    object
 7   процент_жирности                 634 non-null    float64
 8   процент_белка                    634 non-null    float64
 9   вкус_молока                      634 non-null    object
 10  возраст                          634 non-null    object
dtypes: float64(4), int64(2), object(5)
memory usage: 54.6+ KB

Вывод таблицы 'ferma_dad' для обнаружения явных проблем

In [91]:
ferma_dad

     Имя Папы
0      Буйный
1    Соловчик
2       Барин
3      Буйный
4       Барин
..        ...
624    Буйный
625     Барин
626     Барин
627     Барин
628  Соловчик

[629 rows x 1 columns]

Переименования столбца 'Имя Папы' на 'имя_папы'

In [92]:
ferma_dad.rename(columns={'Имя Папы':'имя_папы'}, inplace=True)

Прсмотр уникальных значений

In [94]:
ferma_dad['имя_папы'].unique()

array(['Буйный', 'Соловчик', 'Барин', 'Геркулес'], dtype=object)

Вывод таблицы 'cow_buy' для дальшейшей работы с ней

In [95]:
cow_buy

,Порода,Тип пастбища,порода папы_быка,Имя_папы,"Текущая_жирность,%","Текущий_уровень_белок,%",Возраст
0,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,58","3,076",более_2_лет
1,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,54","3,081",менее_2_лет
2,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
3,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,061",более_2_лет
4,РефлешнСоверинг,равнинное,Айдиал,Буйный,"3,64","3,074",более_2_лет
5,РефлешнСоверинг,равнинное,Соверин,Геркулес,"3,63","3,053",менее_2_лет
6,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,58","3,076",более_2_лет
7,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,57","3,079",более_2_лет
8,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
9,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,079",менее_2_лет
10,Вис Бик Айдиал,холмистое,Соверин,Соловчик,"3,73","3,055",более_2_лет
11,РефлешнСоверинг,равнинное,Соверин,Геркулес,"3,73","3,073",более_2_лет
12,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,68","3,046",более_2_лет
13,Вис Бик Айдиал,холмистое,Соверин,Барин,"3,42","3,075",менее_2_лет
14,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
15,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,065",более_2_лет
16,Вис Бик Айдиал,холмистое,Соверин,Соловчик,"3,73","3,079",более_2_лет
17,РефлешнСоверинг,равнинное,Соверин,Геркулес,"3,77","3,053",менее_2_лет
18,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,34","3,069",более_2_лет
19,РефлешнСоверинг,равнинное,Айдиал,Буйный,"3,64","3,074",более_2_лет

Вывод уникальных значений в столбце 'Текущая_жирность,%'

In [97]:
cow_buy['Текущая_жирность,%'].unique()

array(['3,58', '3,54', '3,59', '3,4', '3,64', '3,63', '3,57', '3,73',
       '3,68', '3,42', '3,77', '3,34'], dtype=object)

Замена запятых на точки, для того чтобы изменить тип данных в столбце на 'float'

In [98]:
cow_buy['Текущая_жирность,%']=cow_buy['Текущая_жирность,%'].str.replace(',','.')
cow_buy['Текущая_жирность,%']=cow_buy['Текущая_жирность,%'].astype(float)

Вывод уникальных значений в столбце 'Текущий_уровень_белок,%'

In [99]:
cow_buy['Текущий_уровень_белок,%'].unique()

array(['3,076', '3,081', '3,074', '3,061', '3,053', '3,079', '3,055',
       '3,073', '3,046', '3,075', '3,065', '3,069'], dtype=object)

Замена запятых на точки, для того чтобы изменить тип данных в столбце на 'float'

In [100]:
cow_buy['Текущий_уровень_белок,%']=cow_buy['Текущий_уровень_белок,%'].str.replace(',','.')
cow_buy['Текущий_уровень_белок,%']=cow_buy['Текущий_уровень_белок,%'].astype(float)

Вывод уникальных значений в столбце 'Порода'

In [102]:
cow_buy['Порода'].unique()

array(['Вис Бик Айдиал', 'РефлешнСоверинг'], dtype=object)

Вывод уникальных значений в столбце 'Тип пастбища'

In [103]:
cow_buy['Тип пастбища'].unique()

array(['холмистое', 'равнинное'], dtype=object)

Вывод уникальных значений в столбце 'порода папы_быка'

In [104]:
cow_buy['порода папы_быка'].unique()

array(['Айдиал', 'Соверин'], dtype=object)

Вывод уникальных значений в столбце 'имя папы'

In [105]:
cow_buy['Имя_папы'].unique()

array(['Геркулес', 'Буйный', 'Барин', 'Соловчик'], dtype=object)

Вывод уникальных значений в столбце 'Возраст'

In [106]:
cow_buy['Возраст'].unique()

array(['более_2_лет', 'менее_2_лет'], dtype=object)

Переименование столбцов

In [107]:
cow_buy.rename(columns={'Порода':'порода', 
                           'Тип пастбища':'тип_пастбища', 
                           'порода папы_быка':'порода_папы_быка', 
                           'Имя_папы':'имя_папы',
                           'Текущая_жирность,%':'процент_жирности',
                           'Текущий_уровень_белок,%':'процент_белка',
                           'Возраст':'возраст'
                          }, inplace=True)

Вывод информации после проделанной работы

In [108]:
cow_buy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   порода            20 non-null     object
 1   тип_пастбища      20 non-null     object
 2   порода_папы_быка  20 non-null     object
 3   имя_папы          20 non-null     object
 4   процент_жирности  20 non-null     float64
 5   процент_белка     20 non-null     float64
 6   возраст           20 non-null     object
dtypes: float64(2), object(5)
memory usage: 1.2+ KB

## Исследовательский анализ данных

## Корреляционный анализ

## Обучение модели линейной регрессии

## Обучение модели логистической регрессии

## Итоговые выводы